body {
      background-color: #cbb799;
    }
    .navbar {
      background-color: #6F4D38;
    }
    .navbar-brand, .nav-link {
      color: #ffffff !important;
    }
    .card {
      border-radius: 10px;
      transition: transform 0.2s;
    }
    .card:hover {
      transform: scale(1.03);
    }
    footer {
      background-color: #3D211A;
      color: white;
      padding: 20px 0;
      text-align: center;
    }

    